In [31]:
import pandas as pd
import os
import json

In [32]:
directory_path = '../data/sokulee/'

In [33]:
dates = pd.date_range('20160401', '20160520').strftime('%Y%m%d')

In [34]:
df_steps = pd.DataFrame(index=dates)

In [35]:
for n in range(1,100):
    name = 'A0' + str(n)
    directory_name = directory_path + name
    total_steps = list()

    if os.path.exists(directory_name):
        for date in dates:
            f_steps_path = directory_name + '/' + name + '_' + date + '_steps.json'

            try : 
                f_steps = open(f_steps_path)
            except IOError as e:
                total_steps.append(0)
            else:
                data_steps = json.loads(f_steps.read())

                try :
                    total_steps.append(int(data_steps['activities-steps'][0]['value']))
                except KeyError as e:
                    total_steps.append(0)

        df_steps[name] = total_steps
df_steps.head()

,A01,A02,A03,A04,A05,A06,A07,A08,A010,A016,...,A080,A081,A083,A084,A092,A093,A094,A096,A097,A098
20160401,13468,5877,9282,15263,10805,17250,17993,0,4296,20006,...,15654,12859,11970,17038,20023,11040,13572,12123,2342,0
20160402,9446,4109,9255,8080,472,19239,2856,6750,640,24004,...,8358,4413,7766,6914,2557,3334,5975,15756,8278,0
20160403,6084,5447,7447,6144,1258,15678,8058,14115,2096,11467,...,1059,3412,13763,23013,6144,9984,13565,1044,472,0
20160404,20283,12388,6140,22445,21992,32130,19785,22755,8213,16742,...,15038,10019,13018,14963,11401,13613,20958,21494,10216,0
20160405,12881,7755,10926,17673,26202,19950,17620,12980,12402,20022,...,11730,6736,14583,6792,15548,16839,12058,17585,6223,0

In [36]:
df_total_steps = pd.DataFrame(data=df_steps.sum(axis=0), index=df_steps.columns, columns=['total_steps'])
df_total_steps.head()

     total_steps
A01       351518
A02       317873
A03       391302
A04       667043
A05       205815

In [37]:
df_total_steps.sort_values(by=['total_steps'], inplace=True, ascending=False)
df_total_steps.head()

      total_steps
A025      1083320
A026      1070291
A043       974336
A045       835907
A062       816567

In [38]:
top5_steps = df_total_steps[:5]
top5_steps

      total_steps
A025      1083320
A026      1070291
A043       974336
A045       835907
A062       816567

In [39]:
df_sleep = pd.DataFrame(index=dates)

In [40]:
for n in range(1,100):
    name = 'A0' + str(n)
    directory_name = directory_path + name
    total_steps = list()

    if os.path.exists(directory_name):
        for date in dates:
            f_steps_path = directory_name + '/' + name + '_' + date + '_sleep.json'

            try : 
                f_steps = open(f_steps_path)
            except IOError as e:
                total_steps.append(0)
            else:
                data_steps = json.loads(f_steps.read())

                try :
                    total_steps.append(int(data_steps['summary']['totalTimeInBed']))
                except KeyError as e:
                    total_steps.append(0)

        df_sleep[name] = total_steps
df_sleep.head()

,A01,A02,A03,A04,A05,A06,A07,A08,A010,A016,...,A080,A081,A083,A084,A092,A093,A094,A096,A097,A098
20160401,511,726,448,383,382,540,468,512,496,433,...,428,423,528,315,275,369,273,0,516,0
20160402,549,373,163,328,545,534,382,492,493,152,...,0,538,582,382,445,241,528,0,391,0
20160403,0,0,0,0,0,0,0,0,0,0,...,0,527,423,0,433,0,280,0,424,0
20160404,436,398,540,281,0,363,386,294,0,151,...,418,407,487,0,445,343,482,157,0,0
20160405,473,374,438,373,0,246,399,373,241,442,...,519,360,436,0,433,316,186,0,524,0

In [41]:
df_total_sleep = pd.DataFrame(data=df_sleep.sum(axis=0), index=df_sleep.columns, columns=['total_sleep'])
df_total_sleep.head()

     total_sleep
A01        12020
A02        10113
A03        19426
A04        17553
A05         3167

In [42]:
df_total_sleep.sort_values(by=['total_sleep'], inplace=True, ascending=False)
df_total_sleep.head()

      total_sleep
A027        24378
A065        24378
A047        24165
A049        23035
A022        22853

In [43]:
top5_sleep = df_total_sleep[:5]
top5_sleep

      total_sleep
A027        24378
A065        24378
A047        24165
A049        23035
A022        22853

In [44]:
df_wear = pd.DataFrame(index=dates)

In [45]:
for n in range(1,100):
    name = 'A0' + str(n)
    directory_name = directory_path + name
    wearing = pd.Series(index=dates)

    if os.path.exists(directory_name):
        for date in dates:
            f_heart_path = directory_name + '/' + name + '_' + date + '_heart.json'
            
            try : 
                f_heart = open(f_heart_path)
            except IOError as e:
                print('file not exist')
            else:
                data_heart = json.loads(f_heart.read())
                wearing_time = 0
                for i in range(0, 4):
                    try :
                        minutes = data_heart['activities-heart'][0]['value']['heartRateZones'][i]['minutes']
                    except KeyError as e:
                        print('key error')
                    else:
                        wearing_time += minutes
            wearing.loc[date] = wearing_time
            
        df_wear[name] = wearing.astype(int)
df_wear.head()

key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
file not exist
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error

key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error
key error

,A01,A02,A03,A04,A05,A06,A07,A08,A010,A016,...,A080,A081,A083,A084,A092,A093,A094,A096,A097,A098
20160401,1148,1296,1367,1351,1399,1407,1402,1430,1366,1355,...,1399,1381,1202,1418,1394,1287,1438,0,1176,0
20160402,1398,1349,867,1345,523,1387,1260,1433,1337,1408,...,1303,1380,1352,1412,1412,394,1106,0,869,0
20160403,1409,1411,890,1353,536,1353,1343,1364,1321,1393,...,1436,1416,1248,572,1373,721,1070,28,1102,0
20160404,1238,1382,1277,1305,848,1406,1372,1264,1246,1273,...,1311,1367,1313,862,1352,1269,1224,917,401,0
20160405,1267,1402,1380,1375,743,1421,1349,1424,1281,1431,...,1360,1363,1317,447,1408,1370,855,940,1063,0

In [46]:
df_total_wear = pd.DataFrame(data=df_wear.sum(axis=0), index=df_wear.columns, columns=['total_wear'])
df_total_wear.head()

     total_wear
A01       39214
A02       36595
A03       57866
A04       65616
A05       13217

In [47]:
df_total_wear.sort_values(by=['total_wear'], inplace=True, ascending=False)
df_total_wear.head()

      total_wear
A049       70112
A045       69617
A07        69194
A017       69162
A022       68872

In [48]:
top5_wear = df_total_wear[:5]
top5_wear

      total_wear
A049       70112
A045       69617
A07        69194
A017       69162
A022       68872