In [1]:
import pandas as pd
import datetime
import time

In [2]:
df_tashu = pd.read_csv('../data/tashu.csv')
df_tashu

         RENT_STATION       RENT_DATE  RETURN_STATION     RETURN_DATE
0                  43  20130101055603              34  20130101060217
1                   2  20130101060406              10  20130101061859
2                 106  20130101105305             105  20130101105743
3                   4  20130101112223               4  20130101121753
4                  21  20130101113953             105  20130101114943
5                  90  20130101120833              91  20130101125136
6                  13  20130101131429              30  20130101133039
7                   1  20130101133742               1  20130101133815
8                   1  20130101133813               2  20130101150958
9                   1  20130101133847               2  20130101151014
10                  9  20130101134253              23  20130101142012
11                 27  20130101134328              27  20130101134356
12                 30  20130101134850               7  20130101145651
13                 30  20130101134907              30  20130101135526
14                 30  20130101134909              18  20130101140929
15                 30  20130101134922               8  20130101141746
16                 30  20130101134927              30  20130101135517
17                 30  20130101134941              30  20130101135508
18                 30  20130101134947              18  20130101140903
19                 30  20130101135100              29  20130101150335
20                 30  20130101135120              29  20130101150325
21                 46  20130101143257              18  20130101144203
22                 19  20130101143429              19  20130101143740
23                 19  20130101143457              19  20130101143748
24                 47  20130101144303              47  20130101144430
25                 43  20130101144357              43  20130101144421
26                 34  20130101144633              12  20130101145535
27                 90  20130101151439              90  20130101161538
28                 30  20130101153405              17  20130101154838
29                 30  20130101153556              17  20130101154839
...               ...             ...             ...             ...
3394129            30  20151231233132              18  20151231235123
3394130            30  20151231233223              44  20151231234432
3394131           103  20151231233300              97  20151231233631
3394132            30  20151231233521              30  20151231234457
3394133            64  20151231233745              55  20151231235118
3394134            30  20151231233930              30  20151231234502
3394135            13  20151231233935              15  20151231234544
3394136            83  20151231233946             138  20160101001220
3394137           118  20151231234155             118  20151231234213
3394138            30  20151231234252              17  20151231235307
3394139            84  20151231234400             138  20160101001137
3394140            84  20151231234404             138  20160101001241
3394141           113  20151231234451             113  20160101004331
3394142            44  20151231234515              18  20151231235113
3394143           118  20151231234529              74  20160101000042
3394144            10  20151231234549              29  20151231235019
3394145            60  20151231234659              69  20151231235322
3394146            17  20151231234701              19  20151231235805
3394147           175  20151231234957              90  20160101003218
3394148           152  20151231235112             152  20151231235619
3394149            46  20151231235204             110  20160101000122
3394150            89  20151231235339             134  20160101000559
3394151           138  20151231235408              46  20160101002055
3394152           143  20151231235438             172  20160101000346
3394153           107  20151231235610             105  20160101000148
3394154            32  20151231235637              54  20160101000622
3394155           152  20151231235834             152  20160101001823
3394156            22  20151231235848              33  20160101000721
3394157            71  20151231235907              76  20160101000257
3394158            43  20151231235919             107  20160101004023

[3394159 rows x 4 columns]

In [3]:
st=time.time()
df_tashu['RENT_DATE'] = df_tashu['RENT_DATE']\
                        .apply(lambda x: datetime.datetime\
                               .strptime(str(x), '%Y%m%d%H%M%S'))
print(time.time()-st, 'sec')
df_tashu

41.72806906700134 sec

         RENT_STATION           RENT_DATE  RETURN_STATION     RETURN_DATE
0                  43 2013-01-01 05:56:03              34  20130101060217
1                   2 2013-01-01 06:04:06              10  20130101061859
2                 106 2013-01-01 10:53:05             105  20130101105743
3                   4 2013-01-01 11:22:23               4  20130101121753
4                  21 2013-01-01 11:39:53             105  20130101114943
5                  90 2013-01-01 12:08:33              91  20130101125136
6                  13 2013-01-01 13:14:29              30  20130101133039
7                   1 2013-01-01 13:37:42               1  20130101133815
8                   1 2013-01-01 13:38:13               2  20130101150958
9                   1 2013-01-01 13:38:47               2  20130101151014
10                  9 2013-01-01 13:42:53              23  20130101142012
11                 27 2013-01-01 13:43:28              27  20130101134356
12                 30 2013-01-01 13:48:50               7  20130101145651
13                 30 2013-01-01 13:49:07              30  20130101135526
14                 30 2013-01-01 13:49:09              18  20130101140929
15                 30 2013-01-01 13:49:22               8  20130101141746
16                 30 2013-01-01 13:49:27              30  20130101135517
17                 30 2013-01-01 13:49:41              30  20130101135508
18                 30 2013-01-01 13:49:47              18  20130101140903
19                 30 2013-01-01 13:51:00              29  20130101150335
20                 30 2013-01-01 13:51:20              29  20130101150325
21                 46 2013-01-01 14:32:57              18  20130101144203
22                 19 2013-01-01 14:34:29              19  20130101143740
23                 19 2013-01-01 14:34:57              19  20130101143748
24                 47 2013-01-01 14:43:03              47  20130101144430
25                 43 2013-01-01 14:43:57              43  20130101144421
26                 34 2013-01-01 14:46:33              12  20130101145535
27                 90 2013-01-01 15:14:39              90  20130101161538
28                 30 2013-01-01 15:34:05              17  20130101154838
29                 30 2013-01-01 15:35:56              17  20130101154839
...               ...                 ...             ...             ...
3394129            30 2015-12-31 23:31:32              18  20151231235123
3394130            30 2015-12-31 23:32:23              44  20151231234432
3394131           103 2015-12-31 23:33:00              97  20151231233631
3394132            30 2015-12-31 23:35:21              30  20151231234457
3394133            64 2015-12-31 23:37:45              55  20151231235118
3394134            30 2015-12-31 23:39:30              30  20151231234502
3394135            13 2015-12-31 23:39:35              15  20151231234544
3394136            83 2015-12-31 23:39:46             138  20160101001220
3394137           118 2015-12-31 23:41:55             118  20151231234213
3394138            30 2015-12-31 23:42:52              17  20151231235307
3394139            84 2015-12-31 23:44:00             138  20160101001137
3394140            84 2015-12-31 23:44:04             138  20160101001241
3394141           113 2015-12-31 23:44:51             113  20160101004331
3394142            44 2015-12-31 23:45:15              18  20151231235113
3394143           118 2015-12-31 23:45:29              74  20160101000042
3394144            10 2015-12-31 23:45:49              29  20151231235019
3394145            60 2015-12-31 23:46:59              69  20151231235322
3394146            17 2015-12-31 23:47:01              19  20151231235805
3394147           175 2015-12-31 23:49:57              90  20160101003218
3394148           152 2015-12-31 23:51:12             152  20151231235619
3394149            46 2015-12-31 23:52:04             110  20160101000122
3394150            89 2015-12-31 23:53:39             134  20160101000559
3394151           138 2015-12-31 23:54:08              46  20160101002055
3394152           143 2015-12-31 23:54:38             172  20160101000346
3394153           107 2015-12-31 23:56:10             105  20160101000148
3394154            32 2015-12-31 23:56:37              54  20160101000622
3394155           152 2015-12-31 23:58:34             152  20160101001823
3394156            22 2015-12-31 23:58:48              33  20160101000721
3394157            71 2015-12-31 23:59:07              76  20160101000257
3394158            43 2015-12-31 23:59:19             107  20160101004023

[3394159 rows x 4 columns]

In [4]:
df_tashu['WEEKDAY'] = df_tashu['RENT_DATE'].dt.dayofweek
df_tashu

,RENT_STATION,RENT_DATE,RETURN_STATION,RETURN_DATE,WEEKDAY
0,43,2013-01-01 05:56:03,34,20130101060217,1
1,2,2013-01-01 06:04:06,10,20130101061859,1
2,106,2013-01-01 10:53:05,105,20130101105743,1
3,4,2013-01-01 11:22:23,4,20130101121753,1
4,21,2013-01-01 11:39:53,105,20130101114943,1
5,90,2013-01-01 12:08:33,91,20130101125136,1
6,13,2013-01-01 13:14:29,30,20130101133039,1
7,1,2013-01-01 13:37:42,1,20130101133815,1
8,1,2013-01-01 13:38:13,2,20130101150958,1
9,1,2013-01-01 13:38:47,2,20130101151014,1
10,9,2013-01-01 13:42:53,23,20130101142012,1
11,27,2013-01-01 13:43:28,27,20130101134356,1
12,30,2013-01-01 13:48:50,7,20130101145651,1
13,30,2013-01-01 13:49:07,30,20130101135526,1
14,30,2013-01-01 13:49:09,18,20130101140929,1
15,30,2013-01-01 13:49:22,8,20130101141746,1
16,30,2013-01-01 13:49:27,30,20130101135517,1
17,30,2013-01-01 13:49:41,30,20130101135508,1
18,30,2013-01-01 13:49:47,18,20130101140903,1
19,30,2013-01-01 13:51:00,29,20130101150335,1
20,30,2013-01-01 13:51:20,29,20130101150325,1
21,46,2013-01-01 14:32:57,18,20130101144203,1
22,19,2013-01-01 14:34:29,19,20130101143740,1
23,19,2013-01-01 14:34:57,19,20130101143748,1
24,47,2013-01-01 14:43:03,47,20130101144430,1
25,43,2013-01-01 14:43:57,43,20130101144421,1
26,34,2013-01-01 14:46:33,12,20130101145535,1
27,90,2013-01-01 15:14:39,90,20130101161538,1
28,30,2013-01-01 15:34:05,17,20130101154838,1
29,30,2013-01-01 15:35:56,17,20130101154839,1
...,...,...,...,...,...
3394129,30,2015-12-31 23:31:32,18,20151231235123,3
3394130,30,2015-12-31 23:32:23,44,20151231234432,3
3394131,103,2015-12-31 23:33:00,97,20151231233631,3
3394132,30,2015-12-31 23:35:21,30,20151231234457,3
3394133,64,2015-12-31 23:37:45,55,20151231235118,3
3394134,30,2015-12-31 23:39:30,30,20151231234502,3
3394135,13,2015-12-31 23:39:35,15,20151231234544,3
3394136,83,2015-12-31 23:39:46,138,20160101001220,3
3394137,118,2015-12-31 23:41:55,118,20151231234213,3
3394138,30,2015-12-31 23:42:52,17,20151231235307,3
3394139,84,2015-12-31 23:44:00,138,20160101001137,3
3394140,84,2015-12-31 23:44:04,138,20160101001241,3
3394141,113,2015-12-31 23:44:51,113,20160101004331,3
3394142,44,2015-12-31 23:45:15,18,20151231235113,3
3394143,118,2015-12-31 23:45:29,74,20160101000042,3
3394144,10,2015-12-31 23:45:49,29,20151231235019,3
3394145,60,2015-12-31 23:46:59,69,20151231235322,3
3394146,17,2015-12-31 23:47:01,19,20151231235805,3
3394147,175,2015-12-31 23:49:57,90,20160101003218,3
3394148,152,2015-12-31 23:51:12,152,20151231235619,3
3394149,46,2015-12-31 23:52:04,110,20160101000122,3
3394150,89,2015-12-31 23:53:39,134,20160101000559,3
3394151,138,2015-12-31 23:54:08,46,20160101002055,3
3394152,143,2015-12-31 23:54:38,172,20160101000346,3
3394153,107,2015-12-31 23:56:10,105,20160101000148,3
3394154,32,2015-12-31 23:56:37,54,20160101000622,3
3394155,152,2015-12-31 23:58:34,152,20160101001823,3
3394156,22,2015-12-31 23:58:48,33,20160101000721,3
3394157,71,2015-12-31 23:59:07,76,20160101000257,3
3394158,43,2015-12-31 23:59:19,107,20160101004023,3

In [58]:
df_rent = pd.DataFrame()
for i in range(0,7):
    df_rent[i] = df_tashu.loc[df_tashu['WEEKDAY'] == i].groupby('RENT_STATION').count()['RENT_DATE']
df_rent

                  0        1        2      3        4        5        6
RENT_STATION
1              4685   5026.0   4953.0   5314   7243.0  11486.0  11043.0
2              3132   3375.0   3438.0   3741   3752.0   4180.0   3975.0
3             18699  17401.0  19714.0  18853  24947.0  37902.0  36753.0
4              5275   5129.0   5671.0   5579   6171.0   6365.0   6107.0
5              3755   3907.0   3970.0   4156   4976.0   7299.0   6370.0
6              3462   3279.0   3643.0   3376   4048.0   4236.0   3915.0
7              3707   3487.0   3853.0   3960   5056.0   5672.0   4796.0
8              6873   6786.0   7176.0   6760   8104.0   8487.0   8167.0
9              2747   2691.0   2841.0   2851   3064.0   3538.0   3429.0
10             5130   4920.0   5426.0   5180   6103.0   6138.0   5901.0
11             3534   3436.0   3750.0   3575   3964.0   3927.0   3675.0
12             6654   6355.0   6628.0   6506   7289.0   6356.0   5659.0
13             3848   4037.0   4310.0   4229   4646.0   4748.0   4514.0
14             7571   7290.0   7980.0   7668   8988.0  10233.0   7608.0
15             5066   4910.0   5181.0   5225   5605.0   5522.0   4578.0
16             4001   4148.0   4258.0   4150   4402.0   4472.0   4045.0
17            10767  10122.0  11234.0  11070  13230.0  14374.0  11916.0
18             6494   6154.0   6381.0   6116   6984.0   6214.0   5135.0
19             7274   7043.0   7742.0   7175   8153.0   7814.0   6353.0
20             2554   2564.0   2879.0   2788   2881.0   3105.0   3199.0
21             8402   8019.0   8425.0   8227   8603.0   7170.0   7340.0
22             7307   6799.0   7031.0   7094   6648.0   4379.0   3973.0
23             4662   4242.0   4457.0   4613   4815.0   4279.0   4211.0
24             1341   1434.0   1493.0   1421   1667.0   1250.0   1291.0
25             2154   2181.0   2231.0   2125   2362.0   1662.0   1648.0
26             1809   2338.0   2359.0   2238   2336.0   2294.0   2398.0
27             2093   2207.0   2391.0   2281   2256.0   1900.0   1745.0
28             3032   2842.0   2918.0   3031   3063.0   3134.0   3214.0
29             4892   4550.0   4849.0   4537   4923.0   5085.0   4605.0
30             6915   6498.0   7367.0   7306   8751.0   8918.0   8371.0
...             ...      ...      ...    ...      ...      ...      ...
163             277    274.0    237.0    208    261.0    278.0    262.0
164             315    300.0    300.0    275    326.0    335.0    336.0
165             316    350.0    332.0    305    371.0    407.0    467.0
166              20     28.0     12.0     16     18.0     30.0     41.0
167              34     23.0     24.0     26     35.0     25.0     22.0
168              29     35.0     32.0     15     16.0     35.0     32.0
169              45     19.0     16.0     14     15.0     12.0     24.0
170              26     48.0     17.0     21     46.0     25.0     45.0
171              27     22.0     33.0     20     16.0     28.0     47.0
172              18     38.0     23.0     26     31.0     35.0     38.0
173              41     73.0     42.0     40     44.0     45.0     44.0
174              45     79.0     64.0     52     75.0     89.0     80.0
175              78     90.0     55.0     40     53.0     82.0     87.0
176              34     54.0     40.0     38     45.0     83.0    105.0
177              49     72.0     35.0     36     48.0     58.0     79.0
178              56     76.0     61.0     56     66.0    109.0    101.0
179              32     56.0     34.0     27     21.0     46.0     64.0
180              42     46.0     57.0     20     44.0     89.0    121.0
181              41     60.0     41.0     37     43.0     56.0     76.0
182             138    105.0     80.0     75     85.0    116.0    110.0
183              33     45.0     29.0     14     35.0     66.0     66.0
184              18     12.0     12.0     17     31.0     24.0     23.0
185               3      7.0      NaN     18      2.0      NaN      2.0
186             122    174.0     74.0    110    157.0    445.0    464.0
188              46     78.0     55.0     33     36.0     60.0     69.0
189              31     85.0     25.0     20     53.0     75.0     55.0
190              18     15.0     29.0     24     54.0     30.0     29.0
196               1      NaN      NaN      2      NaN      NaN      NaN
200              13      3.0      1.0      2      1.0      1.0      NaN
201             214    197.0    181.0     55     62.0      NaN      6.0

[192 rows x 7 columns]

In [41]:
df_rent_weekday = df_rent.ix[:,[0,1,2,3,4]]
df_rent_weekday

                  0        1        2      3        4
RENT_STATION
1              4685   5026.0   4953.0   5314   7243.0
2              3132   3375.0   3438.0   3741   3752.0
3             18699  17401.0  19714.0  18853  24947.0
4              5275   5129.0   5671.0   5579   6171.0
5              3755   3907.0   3970.0   4156   4976.0
6              3462   3279.0   3643.0   3376   4048.0
7              3707   3487.0   3853.0   3960   5056.0
8              6873   6786.0   7176.0   6760   8104.0
9              2747   2691.0   2841.0   2851   3064.0
10             5130   4920.0   5426.0   5180   6103.0
11             3534   3436.0   3750.0   3575   3964.0
12             6654   6355.0   6628.0   6506   7289.0
13             3848   4037.0   4310.0   4229   4646.0
14             7571   7290.0   7980.0   7668   8988.0
15             5066   4910.0   5181.0   5225   5605.0
16             4001   4148.0   4258.0   4150   4402.0
17            10767  10122.0  11234.0  11070  13230.0
18             6494   6154.0   6381.0   6116   6984.0
19             7274   7043.0   7742.0   7175   8153.0
20             2554   2564.0   2879.0   2788   2881.0
21             8402   8019.0   8425.0   8227   8603.0
22             7307   6799.0   7031.0   7094   6648.0
23             4662   4242.0   4457.0   4613   4815.0
24             1341   1434.0   1493.0   1421   1667.0
25             2154   2181.0   2231.0   2125   2362.0
26             1809   2338.0   2359.0   2238   2336.0
27             2093   2207.0   2391.0   2281   2256.0
28             3032   2842.0   2918.0   3031   3063.0
29             4892   4550.0   4849.0   4537   4923.0
30             6915   6498.0   7367.0   7306   8751.0
...             ...      ...      ...    ...      ...
163             277    274.0    237.0    208    261.0
164             315    300.0    300.0    275    326.0
165             316    350.0    332.0    305    371.0
166              20     28.0     12.0     16     18.0
167              34     23.0     24.0     26     35.0
168              29     35.0     32.0     15     16.0
169              45     19.0     16.0     14     15.0
170              26     48.0     17.0     21     46.0
171              27     22.0     33.0     20     16.0
172              18     38.0     23.0     26     31.0
173              41     73.0     42.0     40     44.0
174              45     79.0     64.0     52     75.0
175              78     90.0     55.0     40     53.0
176              34     54.0     40.0     38     45.0
177              49     72.0     35.0     36     48.0
178              56     76.0     61.0     56     66.0
179              32     56.0     34.0     27     21.0
180              42     46.0     57.0     20     44.0
181              41     60.0     41.0     37     43.0
182             138    105.0     80.0     75     85.0
183              33     45.0     29.0     14     35.0
184              18     12.0     12.0     17     31.0
185               3      7.0      NaN     18      2.0
186             122    174.0     74.0    110    157.0
188              46     78.0     55.0     33     36.0
189              31     85.0     25.0     20     53.0
190              18     15.0     29.0     24     54.0
196               1      NaN      NaN      2      NaN
200              13      3.0      1.0      2      1.0
201             214    197.0    181.0     55     62.0

[192 rows x 5 columns]

In [56]:
df_rent_weekday.fillna(0).astype(int).sum(axis=1).sort_values(ascending=False)[:5]

RENT_STATION
3     99614
56    65337
17    56423
31    53979
32    49380
dtype: int64

In [40]:
df_rent_weekend = df_rent.ix[:,[5,6]]
df_rent_weekend

                    5        6
RENT_STATION
1             11486.0  11043.0
2              4180.0   3975.0
3             37902.0  36753.0
4              6365.0   6107.0
5              7299.0   6370.0
6              4236.0   3915.0
7              5672.0   4796.0
8              8487.0   8167.0
9              3538.0   3429.0
10             6138.0   5901.0
11             3927.0   3675.0
12             6356.0   5659.0
13             4748.0   4514.0
14            10233.0   7608.0
15             5522.0   4578.0
16             4472.0   4045.0
17            14374.0  11916.0
18             6214.0   5135.0
19             7814.0   6353.0
20             3105.0   3199.0
21             7170.0   7340.0
22             4379.0   3973.0
23             4279.0   4211.0
24             1250.0   1291.0
25             1662.0   1648.0
26             2294.0   2398.0
27             1900.0   1745.0
28             3134.0   3214.0
29             5085.0   4605.0
30             8918.0   8371.0
...               ...      ...
163             278.0    262.0
164             335.0    336.0
165             407.0    467.0
166              30.0     41.0
167              25.0     22.0
168              35.0     32.0
169              12.0     24.0
170              25.0     45.0
171              28.0     47.0
172              35.0     38.0
173              45.0     44.0
174              89.0     80.0
175              82.0     87.0
176              83.0    105.0
177              58.0     79.0
178             109.0    101.0
179              46.0     64.0
180              89.0    121.0
181              56.0     76.0
182             116.0    110.0
183              66.0     66.0
184              24.0     23.0
185               NaN      2.0
186             445.0    464.0
188              60.0     69.0
189              75.0     55.0
190              30.0     29.0
196               NaN      NaN
200               1.0      NaN
201               NaN      6.0

[192 rows x 2 columns]

In [57]:
df_rent_weekend.fillna(0).astype(int).sum(axis=1).sort_values(ascending=False)[:5]

RENT_STATION
3     74655
31    29381
17    26290
56    25547
32    24092
dtype: int64